
<div class="container">
  <p>Link: <a href="./Servlet1">Servlet1</a></p>
 
   <button (click)="getTrees()">Get Trees</button>
 
   <div class="card">
     <ul>
       <li *ngFor="let ani of treesList">
         Title: {{ani.title}}
       </li>
       <li *ngFor="let ani of treesList">
         Age: {{ani.age}} years
       </li>
       <li *ngFor="let ani of treesList">
         Info: {{ani.info}}
       </li>
       <li><img src="assets/Dub.jpg" (click)="getTrees()"></li>
     </ul>
   </div>

   <h3>Add trees</h3>
  <form #form1="ngForm" (ngSubmit)="addTrees(form1.value)">
    <input type="text" name="title" value="" ngModel>
    <br>
    <input type="number" name="age" value="0" ngModel>
    <br>
    <input type="text" name="info" value="" ngModel>
    <br>
    <input type="submit" value="Add Trees">
  </form>

  <div class="uml-diagram">
    <p class="diagram-title">UML Diagram</p>
    <img src="assets/Screenshot_1.jpg">
  </div>
 </div>

