*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$general_font: 'Courier New', Courier, monospace;
$general_font_size: 24px;
$general_font_weight: 700;
$btn_color: rgb(221, 58, 58);
$btn_color_hover: rgb(223, 95, 95);


.gr{
    min-width: 300px;

    img{
        width: 300px;
    }

    .one {
        width: 100px;
        height: 100px;
        border: 1px solid #000;
        border-radius: 7px;
        padding: 10px;
        margin: 10px;
    }
}

p {
    font-family: $general_font;
    font-size: $general_font_size;
    font-weight: $general_font_weight;
}

.gr2{
    margin: 60px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    .add, .updbtn, .remove{
        display: flex;
        flex-direction: column;
    }
    .addbtn, .updbtn, .rmbtn{
        background-color: $btn_color;
        min-width: 200px;
        font-size: 25px;
        text-align: center;
        padding: 40px 10px;
        border-radius: 7px;
        cursor: pointer; 
        
        &:hover {
            background-color: $btn_color_hover;
        }
    }
    .add-hidden, .upd-hidden, .rm-hidden{
        display: none;
    }
}
